.calendar {
  background: rgb(216, 161, 247);

  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 5px;

  height: 300px;
  margin-left: 80px;
  margin-top: 100px;
  margin-right: 150px;
}
.calendar h2 {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(41, 2, 63);
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.day {
  text-align: center;
  padding: 2px;
  background: #460498;
  text-shadow: 2px 1px 3px hsl(263, 98%, 64%);
  border-radius: 8px;
  border: 1px solid #460498;
  color: #f5f3f3;
  font-weight: bold;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 120ms ease, background 120ms ease, box-shadow 120ms;
}
.day:hover {
  transform: translateY(-2px);
  background: rgba(138, 105, 246, 0.811);
  box-shadow: 0 6px 16px rgba(138, 105, 246, 0.12);
}

.day.today {
  background: rgb(53, 2, 83);
  color: white;
  transition: transform 120ms ease, background 120ms ease, box-shadow 120ms;
}
.today:hover {
  transform: translateY(-2px);
  background: rgba(139, 6, 215, 0.811);
  box-shadow: 0 6px 16px rgba(138, 105, 246, 0.12);
}




.day-number {
    cursor: pointer;
    transition: all 0.3s ease;
}



.today {
    background-color: #2196F3;
    color: white;
    font-weight: bold;
}

.dia-selecionado {
    background-color: #4CAF50 !important;
    color: white !important;
    font-weight: bold;
}