.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(67, 15, 199, 0.296);
  display: none;
  z-index: 999;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 430px;
  height: 500px;
  background: linear-gradient(180deg, #2f0650 0%, #24043b 100%);
  border-radius: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  margin-top: 80px;
  margin-left: 60px;
}

.modal label {
  font-size: 20px;
  color: rgb(240, 238, 244);
  display: flex;

  margin-left: 90px;
  margin-bottom: 5px;
}

.modal input {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  width: 100%;
  outline: none;
  height: 35px;
  margin-bottom: 30px;
  border-radius: 15px;
  color: rgb(47, 3, 53);
  border: 2px solid rgb(33, 3, 118);
  box-shadow: 0px 2px 10px 0px rgb(134, 17, 197);
}
#btnSalvar {
  width: 100px;
  font-size: 15px;
  margin: 10px auto;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #063104;
  background-color: rgb(28, 101, 6);
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0px 2px 12px 0px rgb(2, 186, 57);
  margin-right: 15px;
}
#btnCancelar {
  font-size: 15px;
  width: 100px;
  margin: 10px auto;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #2f0101;
  background-color: #b20404;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0px 2px 12px 0px rgb(186, 2, 67);
}

#btnSalvar:hover {
  background-color: #34b605e8;
  box-shadow: 0px 2px 12px 0px rgb(37, 229, 3);
}
#btnCancelar:hover {
  background-color: rgb(209, 2, 85);
  box-shadow: 0px 2px 12px 0px rgba(255, 71, 129, 0.805);
}

.active {
  display: flex;
}

.active .modal {
  animation: modal 0.4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* Estilos para a barra de rolagem personalizada */
.modal input::-webkit-scrollbar {
  width: 8px;
}                                         